.App {
    width: 100vw;
}

#start-form {
    position: fixed;
    top: 20vw;
    left: 30vw;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    z-index: 1;

}

#post-form {

    font-family: menlo;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    align-items: center;


}

#navItems {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

}

input {
    display: block;
    width: 40vw;
    height: 5vw;
    font-size: 4.5vw;
    text-align: center;

}

label {
    display: block;
    font-size: 2vw;
    cursor: url('./assets/images/cursor.png') 2 2, pointer;

}