#div-SearchItem {

    background-image: url('images/pattern.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 10rem;
    height: 10rem;

    padding: 1vw 1vw;
    /* center the conatined image */
    display: flex;
    justify-content: center;

}

#div-SearchItem:hover {}

#normal {
    width: 100%;
    object-fit: scale-down;
}

#focused {
    position: fixed;
    top: 50vw;
    left: 10vw;
    width: 80vw;
}

#alt-img {
    
    background-image: url('images/alt.png');
    font-size: 5rem;
}

.links {
    position: fixed;
    backdrop-filter: invert(70%);
    top: 35vw;
    font-size: 5vw;
    color: rgb(78, 11, 11);
}

.links:hover {
    background-color: rgb(100, 50, 200, 0.4);
}

#dicogs-link {
    left: 5vw;

}

#research-link {
    left: 50vw;
    transform: translateX(-50%);

}

#youtube-link {

    right: 5vw;
}

/* media queries, default is phone */
/* scale for larger devices and tablets */
@media (min-width: 600px) and (max-width: 1199px) {
    #focused {
        top: 5vw;
        position: fixed;
        left: 20vw;
        width: 60vw;

    }
}

/* sclae for full screen monitors/laptops */
@media (min-width: 1200px) {
    #focused {
        top: 3vw;
        position: fixed;
        left: 25vw;
        width: 50vw;

    }
}